<div class="container">
  <div class="Title">
  <center>
  <br><br>
  <h1> Interests </h1>
  <br>
  </center>
  <div class="row user">
    <div class="four columns">
      <h4>Software Eng</h4>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-cplusplus-plain-wordmark colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="four columns">
      <h4>Data Analytics</h4>
      <i class="devicon-facebook-plain colored"></i>
      <i class="devicon-google-plain colored"></i>
      <i class="devicon-postgresql-plain-wordmark colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="four columns">
      <h4>Quantitative Finance</h4>
      <img src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/AAEAAQAAAAAAAAOtAAAAJDg1NjRkMjdhLTU5YTktNDc3OC05Mzg5LWNhYjk0YjBiYjE2NQ.png">
      <img src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/AAEAAQAAAAAAAAnTAAAAJGNjZjUzYmMxLTJlZmQtNGE4Ni05OGQxLTlmMDBjNTIwYzRlZg.png">
      <img src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/AAEAAQAAAAAAAATIAAAAJDU4ZTNjYjNjLTY5MjYtNDRiMy1iOWI1LWI1ZTc3NmE2YWFhMA.png">
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
  </div>
</div>
