<div class="container">
  <div class="Title">
  <center>
  <br><br>
  <h1> Interests </h1>
  </center>
  <div class="row user">
    <div class="four columns">
      <h4>Software Eng</h4>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-cplusplus-plain-wordmark colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="four columns">
      <h4>Data Analytics</h4>
      <i class="devicon-facebook-plain colored"></i>
      <i class="devicon-google-plain colored"></i>
      <i class="devicon-postgresql-plain-wordmark colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
  </div>
</div>
