<div class="container">
  <div class="Title">
  <center>
  <br><br>
  <h1> Interests </h1>
  <br>
  </center>
  <div class="row user">
    <div class="four columns">
      <h4>Software Eng</h4>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-cplusplus-plain-wordmark colored"></i>
      <p>At the core of my computer science study is data structure and algorithm. I strive to optimize my algorithm and seek opportunities to solve problems. </p>
    </div>
    <div class="four columns">
      <h4>Data Analytics</h4>
      <i class="devicon-facebook-plain colored"></i>
      <i class="devicon-google-plain colored"></i>
      <i class="devicon-postgresql-plain-wordmark colored"></i>
      <p>With the synergy of software engineering and statistics knowledge, I became proficient at data visualization and analysis.</p>
    </div>
    <div class="four columns">
      <h4>Quantitative Finance</h4>
      <img src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/AAEAAQAAAAAAAAOtAAAAJDg1NjRkMjdhLTU5YTktNDc3OC05Mzg5LWNhYjk0YjBiYjE2NQ.png" width="30%">
      <img src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/AAEAAQAAAAAAAAnTAAAAJGNjZjUzYmMxLTJlZmQtNGE4Ni05OGQxLTlmMDBjNTIwYzRlZg.png" width="25%">
      <img src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/AAEAAQAAAAAAAATIAAAAJDU4ZTNjYjNjLTY5MjYtNDRiMy1iOWI1LWI1ZTc3NmE2YWFhMA.png" width="25%">
      <p>Data is excessively abundant in financial markets. With right tools and right mind, quantitative finance can be one of the best careers for the intellctually hungry mind like myself.</p>
    </div>
  </div>
</div>
